# CMake files
*.txt.user*
build/
cc65/
cc65-win32/
nesasm/
examples/
virtualnes/
virtualnes/virtuanes097e_982/
virtuanes097e_982/

output/
*.swp
*~
*.o
*.lst

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.deb
*.nes
*.out

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
